<!-- Navbar -->
<app-nav-bar (OnToogle)="drawer.toggle()"></app-nav-bar>
<!-- Navbar -->

<div class="w-100 h-100">
  <mat-drawer-container class="example-container w-100">

    <mat-drawer #drawer class="example-sidenav" mode="side" [ngStyle]="{width:'250px'}">
      <app-sidebar (OnMatlistItem)="drawer.toggle()"></app-sidebar>
    </mat-drawer>

    <mat-drawer-content>
      <div class="example-sidenav-content">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>

  </mat-drawer-container>
</div>
