<div>
  <!--   <mat-toolbar>
    <span>Menú</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="matlistItem()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar> -->

  <!-- Usuario -->
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenPrinc()" (closed)="panelClosePrinc()"
      [ngClass]="{'active_panel': panelPrinc}">
      <mat-expansion-panel-header class="mat-exp-pa-he-princ">
        <mat-panel-title>
          <mat-list-item>
            <mat-icon matListItemIcon>account_box</mat-icon>
            <span class="link-text">Usuario</span>
          </mat-list-item>
          <!--  <mat-icon matListItemIcon class="me-1">group_work</mat-icon>
                  Administration -->
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div style="border-left: 5px solid black;">
        <mat-nav-list>
          <mat-list-item [routerLink]="['/intranet/users']" routerLinkActive="active" (click)="matlistItem()">
            My perfil
          </mat-list-item>
        </mat-nav-list>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

  <li role="separator" class="divider"></li>

  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenPrinc()" (closed)="panelClosePrinc()"
      [ngClass]="{'active_panel': panelPrinc}">
      <mat-expansion-panel-header class="mat-exp-pa-he-princ">
        <mat-panel-title>
          <mat-list-item>
            <mat-icon matListItemIcon>group_work</mat-icon>
            <span>Administration</span>
          </mat-list-item>
          <!--  <mat-icon matListItemIcon class="me-1">group_work</mat-icon>
                Administration -->
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- <div class="vertical"></div> -->
      <div style="border-left: 5px solid black;">
        <div class="vertical"></div>
        <mat-accordion multi="false">
          <mat-expansion-panel>
            <mat-expansion-panel-header class="mat-exp-pa-he-hijo">
              <mat-panel-title>
                <mat-icon class="me-1">ballot</mat-icon>
                Mis heroes
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <mat-list-item *ngFor="let item of  sidebarItems" [routerLink]="item.url" (click)="matlistItem()">
                <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
                {{item.label}}
              </mat-list-item>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="mat-exp-pa-he-hijo">
              <mat-panel-title>
                <mat-icon class="me-1">ballot</mat-icon>
                Mis canales
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

</div>
