<div class="flex flex-column">
  <span class="text-lg mb-4">Login</span>
  <form  autocomplete="off" [formGroup]="myForm" (ngSubmit)="onLogin()" class="flex flex-column">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Nombre de usuario" formControlName="email">
      <mat-error *ngIf="isValidField('email')">
        {{getFieldError('email')}}
      </mat-error>

    </mat-form-field>
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
        <input type="password" matInput placeholder="Contraseña" [type]="visiblePass  ? 'password' : 'text'"
          formControlName="password">
        <button mat-icon-button matSuffix (click)="visiblePass = !visiblePass" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="visiblePass">
          <mat-icon>{{visiblePass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
          <mat-error *ngIf="isValidField('password')">
            {{getFieldError('password')}}
          </mat-error>
    </mat-form-field>
  </form>
<button mat-button mat-flat-button color="primary" (click)="onLogin()">
  <mat-icon>save</mat-icon>
  Ingresar</button>
  <div class="flex justify-content-end mt-5"><a routerLink="/auth/new-account" >¿No tienes cuenta?</a></div>
</div>
<mat-error *ngIf="error">
  {{error}}
</mat-error>
