<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-lg flex-nowrap align-items-stretch">
    <!-- ============================================================== -->
    <!-- Logo -->
    <!-- ============================================================== -->
    <div class="navbar-header">
      <a class="navbar-brand d-flex align-items-center gap-1 " [routerLink]="['/home']">
        <img src="../../../../../favicon.ico" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        <span class="d-none d-lg-block color-white ">Andaar</span>
      </a>
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <div class="navbar-collapse d-flex ">
      <!-- ============================================================== -->
      <!-- toggle -->
      <!-- ============================================================== -->
      <ul class="navbar-nav me-auto h-100 button-toggle">
        <li matRipple class="nav-item curs-pointer h-100" (click)="toogle()">
          <a class="nav-link color-white">
            <mat-icon *ngIf="isToogle; else menuIcon">clear</mat-icon>
            <ng-template #menuIcon>
              <mat-icon>menu</mat-icon>
            </ng-template>
          </a>
        </li>
      </ul>
      <!-- ============================================================== -->
      <!-- end toggle -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- User profile autenticado-->
      <!-- ============================================================== -->
      <ul class="navbar-nav h-100" *ngIf="isLogged">
        <!-- Submenú para usuarios autenticados -->
        <!-- Profile -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown  curs-poin d-flex h-100 align-items-center">
          <a matRipple class="nav-link dropdown-toggle h-100 d-flex" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="./assets/images/users/1.jpg" alt="user" class="profile-pic" />
          </a>

          <div class="dropdown-menu dropdown-menu-end position-absolute">
            <ul class="dropdown-user">
              <li>
                <div class="dw-user-box">
                  <div class="u-img"><img src="./assets/images/users/1.jpg" alt="user"></div>
                  <div class="u-text">
                    <h4>Steave Jobs</h4>
                    <p class="text-muted">varunmail.com</p><a class="btn btn-rounded btn-danger btn-sm">View Profile</a>
                  </div>
                </div>
              </li>
              <li role="separator" class="divider"></li>
              <li><a (click)="navigate('/intranet')"><mat-icon>person_outline</mat-icon> Mi Perfil</a></li>
              <li role="separator" class="divider"></li>
              <li><a (click)="onLogout()"><mat-icon>power_settings_new</mat-icon> Cerrar sesión</a></li>
            </ul>
          </div>
        </li>

      </ul>
      <!-- ============================================================== -->
      <!-- end User profile-->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- opciones no autenticado-->
      <!-- ============================================================== -->
      <div *ngIf="!isLogged">
        <!-- Botones de inicio de sesión y registro -->
        <button class="mr-3 text-white border-white" mat-stroked-button (click)="navigate('/auth/login')">Iniciar
          sesión</button>
        <button mat-flat-button (click)="navigate('/auth/new-account')">Registrarse</button>
      </div>
      <!-- ============================================================== -->
      <!-- end opciones no autenticado-->
      <!-- ============================================================== -->
    </div>

  </nav>
</header>
